.container {
  display: flex;
  flex-wrap: wrap;
}



@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    height: 1000px;
  }

 
}
