.post p {
    @apply my-2 text-lg
}

.post h1 {
    @apply my-2 text-3xl  font-extrabold
}

.post h2 {
    @apply my-2 text-2xl font-extrabold
}

.post h3 {
    @apply my-2 text-xl text-primary font-extrabold
}

.post h4 {
    @apply my-2 text-lg text-primary font-extrabold
}
.post h5 {
    @apply my-2 text-lg  font-extrabold
}

.post h6 {
    @apply my-2 text-lg  font-extrabold
}

.post ol, .post ul {
    @apply  my-2 text-sm
}

.post a {
    @apply text-indigo-500 dark:text-indigo-400  font-bold
}

.post blockquote:before {
    content: '“';
    font-family: "Cormorant Garamond",serif;
    position: absolute;
    top: -40px;
    left: -5%;
    height: 0.37em;
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.05em;
    color: #85817b;
    transform: translateY(-50%);
    z-index: -1;
} 


.post blockquote {
    @apply  relative 2xl:-left-10 lg:-left-7 mt-7 
}
.post blockquote p {
   @apply text-xl lg:text-2xl
}

.post blockquote + p {
    @apply mb-5 text-lg
}

.post a {
    @apply dark:!text-indigo-300
}


